In [10]:
#Import packages
import pandas as pd
from tqdm import tqdm
from nba_api.stats.endpoints import commonallplayers
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players

In [11]:
#Get list of all NBA Players
#all_players = commonallplayers.CommonAllPlayers().get_data_frames()[0]
#all_players
#all_players.to_csv('all_players.csv', index=False)

In [12]:
all_players = pd.read_csv('./all_players.csv')
all_players

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_SLUG,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,alaa_abdelnaby,0,NaN,NaN,NaN,NaN,NaN,Y,0
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,zaid_abdul-aziz,0,NaN,NaN,NaN,NaN,NaN,Y,0
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,kareem_abdul-jabbar,0,NaN,NaN,NaN,NaN,NaN,Y,0
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,mahmoud_abdul-rauf,0,NaN,NaN,NaN,NaN,NaN,Y,0
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,tariq_abdul-wahad,0,NaN,NaN,NaN,NaN,NaN,Y,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4720,1627790,"Zizic, Ante",Ante Zizic,0,2017,2019,ante_zizic,ante_zizic,0,NaN,NaN,NaN,NaN,NaN,Y,1
4721,78647,"Zoet, Jim",Jim Zoet,0,1982,1982,HISTADD_jim_zoet,jim_zoet,0,NaN,NaN,NaN,NaN,NaN,Y,0
4722,78648,"Zopf, Bill",Bill Zopf,0,1970,1970,HISTADD_zip_zopf,bill_zopf,0,NaN,NaN,NaN,NaN,NaN,Y,0
4723,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2021,ivica_zubac,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,clippers,Y,1
4724,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,matt_zunic,0,NaN,NaN,NaN,NaN,NaN,Y,0

In [17]:
# Create list of all the player IDs
players_ids = all_players['PERSON_ID']

In [18]:
players_ids

0         76001
1         76002
2         76003
3            51
4          1505
         ...
4720    1627790
4721      78647
4722      78648
4723    1627826
4724      78650
Name: PERSON_ID, Length: 4725, dtype: int64

In [19]:
#Test getting stats for 1 player
career = playercareerstats.PlayerCareerStats(player_id=76001)
player_career = career.get_data_frames()[0]
player_career

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,76001,1990-91,00,1610612757,POR,23.0,43,0,290.0,55,...,0.568,27,62,89,12,4,12,22,39,135
1,76001,1991-92,00,1610612757,POR,24.0,71,1,934.0,178,...,0.752,81,179,260,30,25,16,66,132,432
2,76001,1992-93,00,1610612749,MIL,25.0,12,0,159.0,26,...,0.750,12,25,37,10,6,4,13,24,64
3,76001,1992-93,00,1610612738,BOS,25.0,63,52,1152.0,219,...,0.760,114,186,300,17,19,22,84,165,514
4,76001,1992-93,00,0,TOT,25.0,75,52,1311.0,245,...,0.759,126,211,337,27,25,26,97,189,578
5,76001,1993-94,00,1610612738,BOS,26.0,13,0,159.0,24,...,0.640,12,34,46,3,2,3,17,20,64
6,76001,1994-95,00,1610612758,SAC,27.0,51,0,476.0,117,...,0.571,34,72,106,13,15,12,40,102,254
7,76001,1994-95,00,1610612755,PHL,27.0,3,0,30.0,1,...,0.000,3,5,8,0,0,0,5,2,2
8,76001,1994-95,00,0,TOT,27.0,54,0,506.0,118,...,0.571,37,77,114,13,15,12,45,104,256

In [20]:
# initial an empty dataframe
players_stats = pd.DataFrame()
# save fail queries
error_log = []
# extracting stats
for ID in tqdm(players_ids):
    try:
        time.sleep(1) # avoid too many queries submitted at the same time
        career = playercareerstats.PlayerCareerStats(player_id=ID)
        player_career = career.get_data_frames()[0]
        players_stats = pd.concat([players_stats,player_career],axis=0,ignore_index=True)
    except:
        error_log.append(ID)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4725/4725 [00:00<00:00, 249799.42it/s]